footer.footer.layout
	.footer__box.footer__box_top
		a(href="index.html").footer__logo
			img(src="static/img/logo-footer.png", alt="logo").footer__logo_img
		.half
			nav.footer__nav
				.footer__list
					h6.footer__title Foundation
					a(href="#").footer__link Roadmap
					a(href="#").footer__link Team
					a(href="#").footer__link Advisors
					a(href="#").footer__link ICO structure
				.footer__list
					h6.footer__title Documentation
					a(href="#").footer__link One Pager
					a(href="#").footer__link White Paper
					a(href="#").footer__link Privacy Policy
					a(href="#").footer__link Tokens Sale Policy
				.footer__list
					h6.footer__title Developers
					a(href="#").footer__link GitHub
			a(href="#").get-top
				img(src="static/img/top.png", alt="")
	.footer__box.footer__box_bottom
		.share.footer__share
			a(href="#").share__link
				i.fa.fa-paper-plane-o
			a(href="#").share__link
				i.fa.fa-facebook-square
			a(href="#").share__link
				i.fa.fa-twitter
			a(href="#").share__link
				i.fa.fa-github
			a(href="#").share__link
				i.fa.fa-slack
			a(href="#").share__link
				i.fa.fa-reddit-alien
		p.copy Copyright © 2017 Game gaden. All rights reserved
