
header.header.header-mail
	.layout.header_inner
		a(href='index.html').logo
			img(src='static/img/logo.png', alt='logo').logo__img
		.half.half_end
			.navigator
				.user
					a(href="#").user__mail ipad.surf@gmail.com

				.select.js-select
					span(data-strt="En").select__text.js-select-text En
					input(type="hidden", value="0", name="lang").js-select-input
					ul.select__list.sdw.js-select-list

						li(data-id=index).is-active En
						li(data-id=index) Ru
						li(data-id=index) Cn

