doctype html
html(lang="en-EN")
  head
    meta(charset="utf-8")
    block title
      title ethernal heroes
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="icon" type="image/png" href="static/img/favicon.png")

    link(rel="stylesheet" media="all" href="static/css/font-awesome.css")
    link(rel="stylesheet" media="all" href="static/css/style.css")

    script(src="static/js/lib/jquery.js")
    script(src="static/js/lib/slick.min.js")
    script(src="static/js/lib/slick.min.js")
    script(src="static/js/lib/jquery.countdown.min.js")
    script(src="static/js/lib/classie.js")
    script(src="static/js/lib/jquery.validate.min.js")
    script(src="static/js/lib/jquery.formatter.min.js")

    script(src="static/js/lib/TweenMax.min.js")
    script(src="static/js/lib/ScrollMagic.js")
    script(src="static/js/lib/animation.gsap.js")
    //- script(src="static/js/lib/debug.addIndicators.js")
    script(src="static/js/lib/canvas-video-player.js")

    block headScript
    script(src="static/js/global.js")
    script(src="static/js/animation.js")
    script(src="static/js/init-global.js")
    script(src="static/js/init-validate.js")
    script(src="static/js/init-select.js")
    script(src="static/js/init-animation.js")
    script(src="static/js/common.js")

  body.is-animated
    //BEGIN out
    block content
    //END out