extends _layout
block content
	.out
		include layout/header.pug

		section.startscreen.js-video
			.startscreen__conteiner.layout
				.startscreen__box
					h1.title-biggest Become <br> a Hero!
					.timer
						p.timer__desc PRE-TGE ENDS ON 14.10.17
						.timer__box(data-finaldate-year='2017', data-finaldate-month='10', data-finaldate-day='30')
					.startscreen__footer.startscreen-w-450
						.range
							#range-slider
							.range__details
								span.range__num.range__current 229970
								span.range__num.range__end 300000

					.startscreen__footer.startscreen-w-450
						a(href="#", data-ppp="js-join").startscreen__link.js-ppp
							| Apply for presale
							i.icon-next-blue
						p.startscreen__desc Bonus 51% is valid <br> before 11&10.17
					.basement
						a(href="#").basement__link
							span.basement__text Subscribe to gain an advantage!
								i.icon-next-white
				.startscreen__video
					video#video-start.video(muted='muted', loop='loop', autoplay='autoplay')
						source(src='static/img/Paladin_Preview_crop.mp4', type='video/mp4')
						source(src='static/img/Paladin_Preview_crop.webm', type='video/webm')
						|   Your browser does not support HTML5 video.
					canvas.canvas

				.share.header__share.share-b
					a(href="#").share__link
						i.fa.fa-paper-plane-o
					a(href="#").share__link
						i.fa.fa-facebook-square
					a(href="#").share__link
						i.fa.fa-twitter
					a(href="#").share__link
						i.fa.fa-github
					a(href="#").share__link
						i.fa.fa-slack
					a(href="#").share__link
						i.fa.fa-reddit-alien

		.popup
			.popup__overlay
			.popup__window.js-join
				button.btn-toggler(data-close="popup").js-close.is-active Close
				.layout.popup__center
					.section-inner
						.half.half_l
							h5.title-section Join ICO
						.half
							form(method='POST', action='/', autocomplete='on').data__form.js-validate
								fieldset.data__fieldset
									input(type='email', name='email', required).data__input
									label(for="email").data__label Email
								fieldset.data__fieldset
									input(type='password', name='password', required).data__input#password
									label(for="password").data__label Password
								fieldset.data__fieldset
									input(type='password', name='confirm_password', required).data__input
									label(for="confirm_password").data__label Repeat password
								.data__footer
									button(type="submit").btn-small Sign Up
									p.data__desc Already have an account?
										a(href="#", data-ppp="js-login").data__link.js-ppp Log in

			.popup__window.js-login
				button.btn-toggler(data-close="popup").js-close.is-active Close
				.layout.popup__center
					.section-inner
						.half.half_l
							h5.title-section Log in
						.half
							form(method='POST', action='/', autocomplete='on').data__form.js-validate
								fieldset.data__fieldset
									input(type='email', name='email', required).data__input
									label(for="email").data__label Email
								fieldset.data__fieldset
									input(type='password', name='password', required).data__input#password
									label(for="password").data__label Password
								a(href="#", data-ppp="js-subcribtion").data__link.js-ppp Forgot password?
								.data__footer
									button(type="submit").btn-small Log in
									p.data__desc Already have an account?
										a(href="#", data-popup="js-join").data__link.js-ppp Sign Up

			.popup__window.js-subcribtion
				button.btn-toggler(data-close="popup").js-close.is-active Close
				.layout.popup__center
					.section-inner
						.half.half_l
						//- 	h5.title-section Log in
						.half
							h5.title-section Subcribtion
							form(method='POST', action='/', autocomplete='on').data__form.js-validate
								fieldset.data__fieldset
									input(type='email', name='email', required).data__input
									label(for="email").data__label Email
								.data__footer
									button(type="submit").btn-small Subscribe

