extends _layout
block content
	.out.out_center
		a(href="#", data-toggler="toggle-some-div").btn-close.is-active.js-toggler
		.page.layout
			img(src="static/img/page.jpg", alt="")
		section.fixed-bottom
			.sea
				a(href="#").sea__link.js-next-sea
					h5.title-m Get the full version of White Paper
						i.icon-next-white

			.sea.sea-p(style="display: none")
				//- a(href="#").sea__link.js-next-sea
				h5.title-m This is a short version of White Paper for getting to know the project <br> Get the full version of White Paper
				.sea__wrap
					form(action="/", method="POST", autocomplete="on").advantage__form.js-validate
						fieldset.advantage__fieldset
							input(type="email", name="email", placeholder="").advantage__input
							label(for="email").advantage__label
								span Enter your&nbsp;
								| email
						button(type="submit").btn-small Send
				p.section__desc.section__desc_m I agree to receive notification letters from EthernalHeroes





