extends _layout
block content
	.out.intro
		include layout/header-simple-nomail.pug
		section.section-light.is-animated
			.layout.popup__center
				.intro__box
					p.intro__num 2
					h5.title-section One more thing
					p.section__desc You successfully registered. Please check your
					p.section__desc  email ipad.surf@gmail.com and confirm registration