.header .half
	transform: none

.header-mail
	.navigator
		height: 70px
		top: 0%
		right: 20px
	.select
		top: 19px
		+tr(.8s)
		// +r(900)
		// 	top: -5px
	.user
		+r(900)
			display: inline-block

.header-fix
	.select
		top: -22px
		// +r(900)
		// 	top: 19px
	.half_end
		.select
			top: 16px
			+r(900)
				top: 19px

.kill-position,
.no-transforms
	transform: none !important
	transition: none !important
.kill-position
	position: static


.pb-zero
	padding-bottom: 0

.bottom-offset-100
	padding-bottom: 100px
.top-offset-100
	padding-top: 100px
.top-offset-40
	padding-top: 40px
.get-top
	position: absolute
	top: 0
	right: 0
	+r(880)
		top: -90px
		right: 50%
		margin-right: -16px
.border-bottom
	border-bottom: 1px solid $border
.bottom-space
	padding-bottom: 10px

.paralax-pic
	+trx(-200px)
.color
	&_lightgrean
		background-color: #C0D72F
	&_blue
		background-color: $blue
	&_rose
		background-color: #EA227D
	&_orange
		background-color: #F5951B
	&_yellow
		background-color: #FFE701

.text
	&-gray
		color: $border
	&-fiolet
		color: #929DDA
	&-orange
		color: #F5951B
	&-aqua
		color: #6DA895
	&-blue
		color: $blue

.mobile-hide
	+r(650)
		display: none
.mobile-show
	display: none !important
	+r(650)
		display: inline-block !important