.icon-bird-green
	position: absolute
	top: 30px
	right: 10px
	display: none
	vertical-align: top
	width: 12px
	height: 9px
	background-image: url('../img/icons/icon-bird-green.png')
	&.is-visible
		display: inline-block

// Normally icon styles
// @each $s in marker,icon-telegram
// 	.#{$s}
// 		display: inline-block
// 		+s(#{$s})
.icon-next-blue
	position: absolute
	top: 4px
	right: 0
	display: inline-block
	vertical-align: top
	width: 16px
	height: 16px
	background-image: url('../img/icons/icon-next-gray.png')
	+tr(.4s)
.footer
	.fa
		color: #C0C0C0
		font-size: 20px
		+tr(.4s)
		+r(880)
			font-size: 26px

.icon-lamp
	display: inline-block
	width: 42px
	height: 43px
	margin-bottom: 50px
	+r(1070)
		margin-bottom: 30px
	.st0
		fill: none
		stroke: #00A5F7
		stroke-width: 2
		stroke-linecap: round
		stroke-linejoin: round
		stroke-miterlimit: 10

.img-center
	display: block
	margin: 0 auto
	padding-left: 20px
	max-width: 100%

.icon-clock
	display: inline-block
	margin-right: 20px
	width: 44px
	height: 43px
	background-image: url('../img/icons/icon-clock.png')

.icon-calendar
	display: inline-block
	margin-right: 20px
	width: 41px
	height: 44px
	background-image: url('../img/icons/icon-calendar.png')
.icon-mouse
	display: inline-block
	vertical-align: top
	margin-right: 10px
	width: 16px
	height: 20px
	background-image: url('../img/icons/icon-mouse.png')
.icon-coin
	display: inline-block
	// vertical-align: top
	margin-right: 25px
	width: 37px
	height: 40px
	background-image: url('../img/icons/icon-coin.png')

.icon-bird-green
	+scale(0)
	position: absolute
	top: 30px
	right: 0
	display: inline-block
	vertical-align: top
	width: 12px
	height: 9px
	background-image: url('../img/icons/icon-bird-green.png')
	+tr(.2s)
	&.is-visible
		+scale(1)